.profession__row-1 {
  display: flex;
  flex-direction: column;
}

.profession__text {
  text-align: center;
  font-size: 24px;
  font-family: 'Acrom';
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
  margin-top: 0;
}

.profession__subtitle-wrap {
  width: 206px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profession__subtitle {
  text-align: center;
  font-family: 'Acrom';
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}

.profession__text::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: 80px;
  left: 90px;
}

.profession__row-image {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}

.profession__text-item {
  font-family: $primary-font-family;
  font-size: 10px;
}

.profession__text-wrap {
  width: 213px;
  font-family: 'Acrom';
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  margin: 0 auto;
  text-transform: uppercase;
  word-spacing: 5px;
  margin-bottom: 10px;
}

.text__row__wrap-item {
  width: 213px;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 768px) {
  .content {
    display: flex;

    margin-top: 20px;
  }

  .profession__text {

    text-align: left;
    margin: 0;
    font-family: 'Acrom';
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .profession__subtitle {
    width: 137px;
    text-align: left;
    font-family: 'Acrom';
    font-weight: 500;
    font-size: 10px;
    padding-left: 24px;
    word-spacing: 2px;
  }

  .profession__row-1 {
    margin: 0;
    padding: 0 10px;
  }

  .profession__row__wrap {
    margin-right: 0;
    padding-left: 30px;
  }

  .profession__text::before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
    top: 110px;
    left: 0px;
  }

  .profession__row__wrap {
    margin: 0 auto;
    text-align: left;

  }

  .profession__text-wrap {
    font-family: 'Acrom';
    font-weight: 800;
    font-size: 13px;
    text-align: left;
    word-spacing: 1px;
  }
}

@media(min-width: 1200px) {
  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .profession__text {
    width: 266px;
    text-align: left;
    margin: 0;
    font-family: 'Acrom';
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .profession__subtitle {
    width: 200px;
    text-align: left;
    font-family: 'Acrom';
    font-weight: 500;
    font-size: 12px;
    padding: 0;
  }

  .profession__text::before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
    top: 102px;
    left: 0;
  }

  .profession__row-1 {
    margin: 0 auto;
    padding: 0;
  }

  .profession__row-image {
    margin: 0;
    position: relative;
  }
}
