.container{
    max-width: 446px;
    margin: 0 auto;
}
.photo__wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-transform: uppercase;
}
.text__wrap{
    display: block;
    text-align: right;
    margin: 0 auto;
    text-align: center;
}
.text__item{
    
}