$default-orange: #ff6b08;


// SECTIONS: 1 (header), 2, 9, 10, 14, 15, 17, 18, 19

$default-blue: #16ebfe;


// SECTIONS: 3, 4, 9, 11, 12, 15, 16, 17, 18

$default-dark-blue: #1a395d;

// SECTIONS: 20.1

$default-background-color: #181c27;

// SECTIONS: 1(header), 20.1

$footer-bachground-bottom: #202020;

// SECTIONS: 20.2
