$primary-font-family: 'Acrom';

/* Acrom-regular(400) */

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Acrom-Regular.woff');
}

/* Acrom-medium(500) */
@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Acrom-Medium.woff');
}

/*Acrom-bold(700) */
@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Acrom-Bold.woff');
}

/* Acrom-ExtraBold(800) */
@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Acrom-ExtraBold.woff');
}
