// content container
.content {
  max-width: 446px;
}

/*main header*/

.header {
  background-image: url(../images/header/header_bg_desc.png);
  padding-top: 14px;
  padding-bottom: 38px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header__course {
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
}

.header__title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
}

.header__subtitle {
  margin: 0;
  font-size: 14px;
  color: #fff;
  margin-bottom: 16px;
}
