/*header*/
.header {
  background-image: url(../images/block-1/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 15px;
  padding-bottom: 38px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    display: block;
    background-image: url(../images/block-1/burg_menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 17px;
  }
}

.header__title,
.header__subtitle,
.header__slogan,
.header__lead {
  text-align: center;
  font-family: 'Raleway';
  color: #fff;
}
