%defoult-button {
  width: 220px;
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  padding: 22px 0;
  background-color: $default-orange;
  box-shadow: 0px 5px 6px 0px rgba(196, 87, 15, 0.26);
  border-top: 1px solid #e0600c;
  border-left: 1px solid #753c1b;
  border-right: 1px solid #753c1b;
  cursor: pointer;
}

%ur-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
