// * {
//   outline: 1px solid green;
// }

.list {
  margin: 0 auto;
  list-style: none;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
}

.stepcourse__text {
  font-family: 'Raleway';
  font-weight: 800;
}

.stepcourse__text--orange {
  font-family: 'Raleway';
  font-weight: 500;
  color: #ff6b08;
  position: relative;
}

.stepcourse__text--orange::before {
  content: '/';
  color: #000000;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 28px;
  position: absolute;
}

.stepcourse__list {
  counter-reset: my-counter;
}

.stepcourse__item {
  counter-increment: my-counter;
  position: relative;
}

.stepcourse__item::before {
  @extend %default-counter;
}

.stepcourse__item-title {
  font-family: 'Raleway';
  font-weight: 700;
}

.stepcourse__item-text {
  margin: 0;
  font-family: 'Raleway';
  color: #3f4144;
}

.stepcourse__button {
  @extend %default-button;
}

.stepcourse__button-link {
  font-family: 'Raleway';
  font-size: 11px;
  line-height: 18px;
  font-weight: 800;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .stepcourse {
    padding: 22px 0 45px 0;
  }
  .stepcourse__picture-block {
    margin: 0 0 21px 0;
  }
  .stepcourse__title-block {
    display: none;
  }
  .stepcourse__about {
    margin: 0 0 46px 0;
  }
  .stepcourse__text {
    margin: 0 0 32px 0;
    padding: 0 76px;
    font-size: 14px;
  }
  .stepcourse__text--orange {
    margin: 0 0 32px 0;
    padding: 0 63px;
    font-size: 14px;
  }
  .stepcourse__text--orange::before {
    left: 33px;
    top: -2px;  
  }
  .stepcourse__list {
    padding: 0 76px;
  }
  .stepcourse__item {
    margin: 0 0 28px 0;
    padding: 0 0 0 30px;
  }
  .stepcourse__item:last-child {
    margin: 0;
  }
  .stepcourse__item-title {
    margin: 0 0 10px 0;
    font-size: 13px;
    line-height: 21px;
  }
  .stepcourse__item-text {
    font-size: 13px;
    line-height: 21px;  
  }
  .stepcourse__button--margin {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .stepcourse__picture-block {
    display: flex;
  }

  .stepcourse__title-block {
    display: block;
  }
}
