* {
    margin: 0;
    padding: 0;
}


// FIRST PART


.first-step {

&__title {
font-family: 'Acrom', sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 900;
text-transform: uppercase;
width: 196px;
margin-bottom: 43px;
}


&__mark {
  
    color: #ffffff;
    background-color: #000000;
}

}

.step-decoration {
    position: relative;

    &__text {
        font-family: 'Acrom', sans-serif;
        font-size: 13.5px;
        line-height: 19.5px;
        font-weight: normal;
        width: 269px;
       
        

        &::before {
            content: '';
            width: 20px;
            height: 2px;
            background-color: #000000;
            position: absolute;
            left: 12%;
            top: 40%;
        }
        } 
    
}

.second-step-list{
width: 286px;
list-style: none;
}

.second-step-item {
    &__title {
        font-family: 'Acrom', sans-serif;
        font-size: 13.5px;
        line-height: 21.27px;
        font-weight: 800;
        
       
    }

    &__text {
        font-family: 'Acrom', sans-serif;
        font-size: 13.5px;
        line-height: 19.5px;
        font-weight: normal;
        
       
    }

}


@media (min-width: 320px) and (max-width: 767px) {
    .first-step__title {
       text-align: center;
    }


}

@media (min-width: 768px) {

    .step  {
        display: flex;
        }

    .first-step {

        &__title {
     
        font-size: 27px;
        line-height: 33.65px;
        font-weight: 900;
        width: 198px;
        t
     
        }
     
        &__mark {
           color: #ffffff;
            background-color: #000000;
        }
        
        }


        .step-decoration {
          position: relative;
        
            &__text {
                font-size: 9px;
                line-height: 13.5px;
               width: 180px;
               font-weight: 600;
               padding-left: 47px;
               
                
        
                &::before {
                    position: absolute;
                    width: 30px;
                    height: 3px;
                   left: 0;
                   
                }
                } 
            
        }
}