/*
Import partials below
*/
//normalize css

// fonts

@import './fonts.scss';
@import './normalize';
//add specifications
@import './specification.scss';
//variables
// @import './variables.scss';
// color set
@import './color-variables.scss';
//placeholers (buttons, +' '+)
@import './placeholder.scss';
@import './header.scss';

@import './career.scss';

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 446px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 712px;
  }
}
