/*
Import partials below
*/
//normalize css
@import './normalize';
@import './color-variables.scss';

// fonts

//add fonts(requires corrections)
@import './fonts.scss';
//add specifications
@import './specification.scss';
//variables
// color set
@import './color-variables.scss';
//placeholers (buttons, +' '+)
@import './placeholder.scss';

<<<<<<< HEAD
//b
@import './header.scss';

=======
>>>>>>> 442135d855be35edbaa5a1bf234bbede0b8c486d
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 448px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 712px;
  }
<<<<<<< HEAD
}
=======
}


@import './header.scss';
@import './section-14/main.scss';
>>>>>>> 442135d855be35edbaa5a1bf234bbede0b8c486d
