
.container {
  max-width: 446px;
  margin: 0 auto;
}

.advertizing__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
$__article {
  
}
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 712px;
  }
}
