/*
Import partials below
*/
//normalize css
@import './normalize';
@import './color-variables.scss';

// fonts

//add fonts(requires corrections)
@import './fonts.scss';
//add specifications
@import './specification.scss';
//variables
// color set
@import './color-variables.scss';
//placeholers (buttons, +' '+)
@import './placeholder.scss';

@import './header.scss';

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 448px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 712px;
  }
}
