img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 446px;
  margin: 0 auto;
}

div.intro {
  display: flex;
  flex-direction: column-reverse;
}

div.intro-cont{
  display: flex;
  flex-direction: column;
}

h2.intro-title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

p.title-info {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0px;
  padding-left: 15px;
  width: 215px;
  height: 55px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Acrom";
  font-weight: normal;
  color: #3f4144;
  vertical-align: middle;
}

div.img-2 {
  display: none;
}

p.title-info::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -15px;
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #000;
  
}

img.intro-img {
  margin-bottom: 30px;
}

ul.intro-list {
  list-style: none;
  margin: 0;
  margin-left: 95px;
  padding: 0;
}

li.intro-item{
  
}

h3.intro-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 236px;
  height: 40px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-family: "Acrom";
  font-weight: 700;
  color: #ffffff;
  
}

.intro-title span{
  background-color: black;
}

p.intro-text {
  width: 300px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Acrom";
  font-weight: normal;
  color: #3f4144;
}

h2.advantage-title{
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 55px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Acrom";
  font-weight: ExtraBold;
  text-transform: uppercase;
}

ul.advantage-list {
  list-style: none;
  margin: 0;
  margin-bottom: 13px;
  margin-left: 120px;
  padding: 0;
}

li.advantage-item{
  position: relative;
  display: inline-block;
  width: 287px;
}


li.advantage-item::before {
  counter-increment: section;
  content: '[' '00' counter(v) ']';
  position: absolute;
  top: 5px;
  width: 56px;
  transform: rotate(-90deg) translate(-20px, -44px);
  background-color: orangered;
  color: #fff;
  
}

h3.item-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-family: "Acrom";
  font-weight: Bold;
}

p.item-text{
  display: inline-block;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  width: 240px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Acrom";
  font-weight: normal;
  color: rgb(63, 65, 68);
}
  
div.offer-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90px;
  width: 295px;
}

h2.offer-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;
  margin-right: 25px;
  padding-top: 5px;
  width: 145px;
  height: 50px;
  color: black;
  font-size: 17px;
  line-height: 30px;
}

.offer-title span {
  background-color: #46ebfe;

}

div.value {
  justify-content: space-between;
}

h2.old {
  display: block;
  width: 100px;
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  vertical-align: super;
  color: rgb(63, 65, 68);
  font-size: 17px;
  font-family: "Acrom";
}

h2.current {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 125px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 44px;
  font-family: "Acrom";
}

.current span {
  display: inline-block;
  width: 55px;
  font-size: 25px;
  font-weight: 900;
  font-family: sans-serif;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 640px;
  }

  div.section16 {
    margin: 65px auto;
    padding: 0 10px;
  }

  .intro img {
    max-width: 275px;
    margin-right: 50px;
  }
  div.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  h2.intro-title {
    width: 213px;
    font-size: 27px;
    line-height: 34px;
    font-family: "Acrom";
    text-align: left;
  }
  p.title-intro {
    width: 154px;
    margin-left: 30px;
    font-size: 9px;
    line-height: 14px;
    font-family: "Acrom";
  }
  p.title-info::before {
    content: '';
    top: 8px;
    left: 0px;
    width: 30px;
    height: 3px;
  }
  div.p2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }
  .img-2 img {
    display: block;
    width: 225px;
    height: 205px;
  }
  
  .intro-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .intro-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .intro-item h3{
    font-size: 9px;
    line-height: 15px;
    width: 100px;
    height: 48px;
    margin: 0;
    padding: 0;
    font-family: "Acrom";
    font-weight: 900;

  }
  .intro-item p{
    font-size: 8px;
    line-height: 12px;
    width: 159px;
    height: 48px;
    margin: 0;
    padding: 0;
    font-family: "Acrom";
    font-weight: 400;
  } 

  div.advantage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantage h2 {
    width: 109px;
    height: 90px;
    font-size: 9px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  ul.advantage-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 530px;
    margin: 0;
    padding: 0;
  }

  li.advantage-item {
    width: 130px;
    height: 90px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
  }
  .advantage-list h3 { 
    font-size: 9px;
    line-height: 12px;
    height: 25px;
    width: 100px;
    margin: 0;
    padding: 0;
    text-transform: none;

  }
  .advantage-list p {
    font-size: 8px;
    line-height: 12px;
    height: 55px;
    width: 127px; 
    margin: 0;
    padding: 0;
  }
  div.offer-section {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
  }

  .offer-section h2 {
    width: 67px;
    font-size: 8px;
    line-height: 14px;
    margin: 0;
    padding: 0;
  }
  h2.old {
    font-size: 8px;
    line-height: 20px;
  }
  .current span {
    font-size: 14px;
    line-height: 17px;
  }
/*   h2.currenr {
    display: block;
    height: 18px;
    width: 61px;
  } */

  
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 712px;
  }
  div.section16 {
    margin: 65px auto;
    padding: 0 10px;
  }
  .intro img {
    max-width: 306px;
    height: 188px;
    margin: 0;
    margin-right: 60px;
    margin-bottom: 55px;
    padding: 0;
  }
  
  .intro-cont h2 {
    width: 230px;
    padding-top: 30px;
    font-size: 30px;
    line-height: 38px;
    font-family: "Acrom";
    font-weight: medium;
  }
  .intro-cont p {
    font-size: 10px;
    line-height: 15px;
    font-family: "Acrom";
    font-weight: medium;
  }
  .intro-item h3 {
    font-size: 10px;
    line-height: 16px;
    font-family: "Acrom";
    font-weight: 800;
  }
  .intro-item p {
    font-size: 9px;
    line-height: 13px;
    font-family: "Acrom";
    font-weight: medium;
  }
  h2.advantage-title {
    font-size: 10px;
    line-height: 16px;
    font-family: "Acrom";
    font-weight: 900;
  }
  .advantage-item h3 {
    font-size: 10px;
    line-height: 13px;
    font-family: "Acrom";
    font-weight: bold;
  }
  .advantage-item p {
    font-size: 9px;
    line-height: 13px;
    font-family: "Acrom";
    font-weight: normal;
  }
  h2.offer-title {
    font-size: 9px;
    line-height: 15px;
    font-family: "Acrom";
    font-weight: normal;
  }
  h2.old {
    font-size: 9px;
    line-height: 23px;
    font-family: "Acrom";
    font-weight: 900;
  }
  h2.current {
    font-size: 9px;
    line-height: 23px;
    font-family: "Acrom";
    font-weight: 900;
  }
}
 

