$color-text: #65666a;
$font-size-text: 9px;
$font-size-headline: 10px;
$color-headline: #ffffff;
$font-weight-text: 400;
$font-weight-headline: 800;
$font-size-section-headline: 18px;
$font-size-section-text: 13px;
